.home {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
}
.home h4{
  margin: 0 auto;
  border-radius: 0.25rem;
  max-width: max-content;
  background-color: lightpink;
  padding: 5px;
  color: #fff;
}